:root{
    --tono1: #780000;
    --tono2: #C1121F;
    --tono3: #FDF0D5;
    --tono4: #003049;
    --tono5: #669BBC;
}

html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

/*Scroll snap*/
.servicios,
.navbar,
.formulario, .footer{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: "Reddit Sans", sans-serif;
    background-color: var(--tono3);
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.54);
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: .5rem;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h1, h2, h3{
    text-align: center;
}

/*Titulos*/

.titulo, .subtitulo{
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
}

.subtitulo{
    color: var(--tono3);
}

/*Utilidades*/
.w-sm-100{
    width: 100%;
}

@media (min-width: 768px){
    .w-sm-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

/*Barra de navegacion*/
.bar{
    background-color: var(--tono5);
    display: flex;
    height: 5rem;
}

.bar li a{
    text-decoration: none;
    font-size: 1rem;
}

li a:hover:not(.active) {    
    color:inherit;
    background-color: #72add2;
    height: 5rem;
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position:relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p{
    color: var(--tono3);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contenido-hero h2{
    padding-bottom: 1rem;
}


.container h3{
    font-size: 100ps;
}

.space h2{
    margin-bottom: 2rem;
}

/** Servicios **/

@media (min-width: 768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
}

.servicios{
    display: flex;

}

.servicios h3{
    color: var(--tono1);
}

.servicios p{
    line-height: 2;
}

/*Contacto*/
.formulario{
    background-color: var(--tono4);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem ;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--tono5);
}

.contenedor-campos{
    margin-bottom: 2rem;
}

.campo{
    margin-bottom: 1rem
}

.campo label{
    font-weight: bold;
    margin-bottom: .5rem;
    margin-left: 1.5rem;
    display: block;
    color: var(--tono5);
    text-align: left;
}

.input-text{
    background-color: whitesmoke;
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}

.boton{
    width: 20%;
}

